* {
  box-sizing: border-box;
  font-family: "Poppins";
}

.header {
  border: 2px solid #414141;
  background-color: #ffcc26;
  color: #414141;
  margin-bottom: 99px;
}

.header h1 {
  font-size: 25px;
  text-align: end;
  padding-right: 91px;
}

.container{
    display: flex;
    /* flex-wrap: wrap; */
    color: #414141;
    margin: 0 100px;
    max-width: 1440;
    border-color: #FBFBFB;
}

.favorites {
  border: 2px dashed #414141;
  border-radius: 30px;
  width: 20%;
  min-width: 300px;
  padding: 20px 35px;
  margin-right: 80px;
}

.favorites-title {
  font-size: 24px;
  line-height: 36px;
  color: #414141;
}

.favorites-selected {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.item-container {
  display: flex;
  justify-content: space-between;
}

.link {
  text-decoration: none;
  color: #414141;
  margin-bottom: 10px;
}

.selected-img img {
  width: 100%;
  height: 88px;
  border-radius: 30px;
  padding-right: 20px;
}

.selected-name {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.selected-price {
  font-size: 18px;
  line-height: 30px;
}

.like-btn {
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
}

.like-btn:hover {
  color: #fbfbfb;
}

.item {
  width: 80%;
  max-width: 1000px;
}

.item-content {
  display: flex;
  flex-wrap: wrap;
}

.item-info {
  border: 1px dashed #414141;
  border-radius: 30px;
  padding: 13px 15px 22px 15px;
  flex: 0 0 20%;
  max-width: 210px;
  margin: 20px;
}

.item-pic img {
  width: 100%;
  height: 200px;
  border-radius: 30px;
}

.item-price {
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.zoom-btn {
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
  padding-left: 190px;
}

.page-content{
    display: flex;
}

.page-info{
    padding-left: 80px;
    padding-top: 30px;
}

.page-text a{
    text-decoration: none;
    font-size: 48px;
    line-height: 96px;
    font-weight: 400;
    color: #414141;
}

.page-holder{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-price{
    font-size: 48px;
    line-height: 96px;
    font-weight: 400;
    color: #414141;
}

@media screen and (max-width: 768px) {
    .favorites{
        width: 100%;
        max-width: 500px;
        margin-bottom: 20px;
        margin-right: 0;
        padding: 20px 40px;
    }

    .favorites-title{
        text-align: center;
    }
    
    .item-container{
        padding-top: 15px;
    }

    .container{
        margin: 0 150px;
        align-items: center;
        flex-wrap: wrap;
    }

    .header h1{
        text-align: center;
        padding: 0;
    }

    .item-info{
        flex: 0 0 40%;
        max-width: 210px;  
        margin: 20px;
    }

    .item{
        width: 100%;
        max-width: 750px;
    }
}

@media screen and (max-width: 480px){
    .container{
        margin: 0 82px;
        align-items: center;
    }

    .item-info{
        flex: 0 0 70%;
        max-width: 210px;  
        margin-top: 20px;
        margin-left: 50px;
    }
}